[user]
  name = Blake Taylor
  email = blakefrost@gmail.com
[color]
  status = auto
  diff = auto
[rerere]
  enabled = 1
[branch]
  autosetupmerge = true
[push]
  default = upstream
[alias]
  # Cleans out your workspace. I should make an un-nuke.
  nuke = !git clean -fd && git reset --hard
  # Show unpushed changes
  up = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
  # Show the diff
  upd = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git diff origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH

  # Lose any unpushed changes
  lose = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git reset --hard origin/$GIT_CURRENT_BRANCH

  # Display project root
  root = !ROOT=$(pwd) && echo $ROOT

  # Github Style Branch list
  #branches = !git for-each-ref --count=400 --sort=-committerdate refs/heads/ --format='printf "%%-40s %%4d behind\t%%4d ahead\t%%-20s\t%%30s\n" "$(echo %(refname) | cut -d / -f 3-)" "$(echo $(git log %(objectname)..head --oneline | wc -l))" "$(git log head..%(objectname) --oneline | wc -l)" "%(authorname)" "%(authordate)"' | $SHELL | less

  publish = !BRANCH=$(git name-rev --name-only HEAD) && git push -u origin $BRANCH
[core]
  excludesfile = /Users/blake/.gitignore
  quotepath = false
